<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darkheroes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Splash"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/About" >
        </activity>
        <activity
            android:name=".DeckActivity"
            android:label="@string/title_activity_deck" >
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".Chouse2DeckActivity"
            android:label="@string/title_activity_chouse2_deck" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
    </application>

</manifest>
